<!--<div class="card">-->
<!--  <h2 mat-dialog-title class="belize col p-2">PHIẾU NHẬP KHO</h2>-->
<!--  <form [formGroup]="voucherForm" >-->
<!--    <mat-dialog-content class="mat-typography">-->
<!--      &lt;!&ndash;Header&ndash;&gt;-->
<!--      <div class="row">-->
<!--        <mat-form-field class="col-2" appearance="outline">-->
<!--          <mat-label>Ngày hạch toán</mat-label>-->
<!--          <input matInput [matDatepicker]="picker1" formControlName="postingDate" required>-->
<!--          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>-->
<!--          <mat-datepicker #picker1></mat-datepicker>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field class="col-2" appearance="outline">-->
<!--          <mat-label>Số chứng từ</mat-label>-->
<!--          <input matInput type="text" formControlName="voucherCode" required>-->
<!--          <mat-error *ngIf="voucherForm.controls.voucherCode?.-->
<!--        hasError('pattern')">Hãy nhập đúng định dạng: PNK-XXXXXX</mat-error>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field class="col-2" appearance="outline">-->
<!--          <mat-label>Người lập phiếu</mat-label>-->
<!--          <input matInput type="text" formControlName="createdBy" required>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field class="col-2" appearance="outline">-->
<!--          <mat-label>Nhà cung cấp</mat-label>-->
<!--          <input matInput type="text" formControlName="supplier" required>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field class="col-2" appearance="outline">-->
<!--          <mat-label>Địa chỉ</mat-label>-->
<!--          <input matInput type="text" formControlName="address" required>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field class="col-2" appearance="outline">-->
<!--          <mat-label>Đơn hàng</mat-label>-->
<!--          <input matInput type="text" formControlName="billing" required>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field class="col-12" appearance="outline">-->
<!--          <mat-label>Diễn giải</mat-label>-->
<!--          <input matInput type="text" formControlName="description" required>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      &lt;!&ndash;Header&ndash;&gt;-->

<!--      &lt;!&ndash;Table&ndash;&gt;-->
<!--      <div class="row mb-2">-->
<!--        <div formArrayName="details">-->
<!--          <div class="input-group">-->
<!--            <mat-form-field appearance="fill" class="" style="width: 5%;">-->
<!--              <mat-label>#</mat-label>-->
<!--              <input matInput type="text" value="" readonly>-->
<!--            </mat-form-field>-->
<!--            <mat-form-field appearance="fill" class="" style="width: 10%;">-->
<!--              <mat-label>Mã hàng</mat-label>-->
<!--              <input matInput type="text" value="" readonly>-->
<!--            </mat-form-field>-->
<!--            <mat-form-field appearance="fill" class="" style="width: 25%;">-->
<!--              <mat-label>Tên hàng hóa</mat-label>-->
<!--              <input matInput type="text" value="" readonly>-->
<!--            </mat-form-field>-->
<!--            <mat-form-field appearance="fill" class="" style="width: 10%;">-->
<!--              <mat-label>Đơn vị tính</mat-label>-->
<!--              <input matInput type="text" value="" readonly>-->
<!--            </mat-form-field>-->
<!--            <mat-form-field appearance="fill" class="" style="width: 15%;">-->
<!--              <mat-label>Số lượng</mat-label>-->
<!--              <input matInput type="text" value="" readonly>-->
<!--            </mat-form-field>-->
<!--            <mat-form-field appearance="fill" class="" style="width: 15%;">-->
<!--              <mat-label>Đơn giá</mat-label>-->
<!--              <input matInput type="text" value="" readonly>-->
<!--            </mat-form-field>-->
<!--            <mat-form-field appearance="fill" class="" style="width: 15%;">-->
<!--              <mat-label>Thành tiền</mat-label>-->
<!--              <input matInput type="text" value="" readonly>-->
<!--            </mat-form-field>-->
<!--            <mat-form-field appearance="fill" class="" style="width: 5%;">-->
<!--              <mat-label></mat-label>-->
<!--              <input matInput type="text" value="" readonly>-->
<!--            </mat-form-field>-->
<!--          </div>-->

<!--          <div *ngFor="let item of details; let i = index">-->
<!--            <div [formGroupName]="i">-->
<!--              <div class="input-group">-->

<!--                <mat-form-field appearance="" class="" style="width: 5%;">-->
<!--                  <mat-label></mat-label>-->
<!--                  <input matInput type="text" value="{{i+1}}" readonly>-->
<!--                </mat-form-field>-->

<!--                <mat-form-field appearance="" class="" style="width: 10%;">-->
<!--                  <mat-label></mat-label>-->
<!--                  <input type="text" required-->
<!--                         matInput [formControl]="product"-->
<!--                         [matAutocomplete]="auto"-->
<!--                         (focusin)="changeItem(item)">-->
<!--                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayProduct">-->
<!--                    <mat-option *ngFor="let option of filteredProduct | async" [value]="option">-->
<!--                      {{option.barcode}}-->
<!--                    </mat-option>-->
<!--                  </mat-autocomplete>-->
<!--                </mat-form-field>-->

<!--                <mat-form-field appearance="" class="" style="width: 25%;">-->
<!--                  <mat-label></mat-label>-->
<!--                  <input matInput type="text" formControlName="productName" >-->
<!--                </mat-form-field>-->

<!--                <mat-form-field appearance="" class="" style="width: 10%;">-->
<!--                  <mat-label></mat-label>-->
<!--                  <input matInput type="text" formControlName="unit" readonly>-->
<!--                </mat-form-field>-->

<!--                <mat-form-field appearance="" class="" style="width: 15%;">-->
<!--                  <mat-label></mat-label>-->
<!--                  <input matInput type="number" required-->
<!--                         formControlName="quantity"-->
<!--                         (input)="calculateRowTotal(item)">-->
<!--                  <mat-error *ngIf="voucherForm.get('details').get(i.toString()).get('quantity')-->
<!--                .hasError('min')">Số lượng phải lớn hơn: 0</mat-error>-->
<!--                </mat-form-field>-->

<!--                <mat-form-field appearance="" class="" style="width: 15%;">-->
<!--                  <mat-label></mat-label>-->
<!--                  <input matInput type="number" required-->
<!--                         formControlName="unitPrice"-->
<!--                         (input)="calculateRowTotal(item)">-->
<!--                  <mat-error *ngIf="voucherForm.get('details').get(i.toString()).get('unitPrice')-->
<!--                .hasError('min')">Số tiền phải lớn hơn: 0</mat-error>-->
<!--                </mat-form-field>-->

<!--                <mat-form-field appearance="" class="" style="width: 15%;">-->
<!--                  <mat-label></mat-label>-->
<!--                  <input matInput type="text" [value]="(item.get('rowTotalAmount').value)|number" readonly>-->
<!--                </mat-form-field>-->

<!--                <button type="button" mat-icon-button color="warn" matTooltip="Xóa dòng" (click)="removeItem(i)">-->
<!--                  <mat-icon>delete</mat-icon>-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div>-->
<!--          <button type="button" mat-mini-fab color="primary" matTooltip="Thêm dòng" (click)="addNewItem()">-->
<!--            <mat-icon>add</mat-icon>-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash;Table&ndash;&gt;-->
<!--    </mat-dialog-content>-->

<!--    <mat-dialog-actions align="center">-->
<!--      <div class="row">-->
<!--        <div class="col-6">-->
<!--          <mat-form-field class="me-2" appearance="outline">-->
<!--            <mat-label>Tiền hàng:</mat-label>-->
<!--            <input matInput type="text" class=""-->
<!--                   [value]="(voucherForm.get('totalAmount').value)|number" readonly>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="col-6">-->
<!--          <button mat-raised-button type="button" mat-dialog-close="true" class="me-2" routerLink="/warehouse/import"> Hủy</button>-->
<!--          <button mat-raised-button [mat-dialog-close]="true" color="primary"-->
<!--                  [disabled]="voucherForm.invalid" type="submit" (click)="submitVoucherForm()"> Lưu-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </mat-dialog-actions>-->
<!--  </form>-->
<!--</div>-->
