<div class="container-fluid">
  <div id="sidebar" [class.hide]="isHidden">
    <app-menu></app-menu>
  </div>

  <div id="content" class="">
    <!-- NAVBAR -->
    <nav>
      <div class="head-title d-flex align-items-center">
        <mat-slide-toggle  color="primary" (click)="toggleSidebar()"></mat-slide-toggle>
        <h2 class="m-0 ms-3" style="color: white">KHÁCH HÀNG</h2>
      </div>
    </nav>
    <!-- NAVBAR -->

    <div class="dropdown d-inline-flex mt-1 mb-1">
      <button mat-button mat-raised-button color="" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false"> Thao tác
      </button>
      <ul class="dropdown-menu">
        <li>
          <a mat-button class="dropdown-item text-start" routerLink="/account-receivable">
            <i class='bx bxs-user-detail' ></i> Danh sách</a>
        </li>
        <li>
          <a mat-button class="dropdown-item text-start" (click)="customerCreate()">
            <i class='bx bxs-user-plus' ></i> Thêm mới</a>
        </li>
        <li>
          <a mat-button class="dropdown-item text-start" routerLink="/account-receivable/customer-type">
            <i class='bx bxs-group' ></i> Phân nhóm </a>
        </li>
      </ul>
    </div>

    <router-outlet></router-outlet>

  </div>
</div>
