
.bg-custom {
  background-color: #c0392b;
  color: white;
  height: 50px;
}

.footer {
  position: absolute;
  top: calc(96%);
  left: 50%;
  z-index: 999;
  text-align: center;
  width: 100%;
  transform: translate(-50%, -50%);
}
